modules = ["web", "nodejs-20", "python-3.12", "cpp-clang14"]
run = "python3 server.py"

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "python3 server.py"]

[workflows]
runButton = "Run Dashboard"

[[workflows.workflow]]
name = "Run Dashboard"
author = 45101007
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 server.py"

[[ports]]
localPort = 1521
externalPort = 80
